.container {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.center {
  font-weight: 300;
  font-size: 0.9rem;
  font-style: italic;
  color: hsla(0, 0%, 100%, 0.8);
  margin: auto;
  padding: 1rem;
}
